



<form action="/users/new" method="post">
  <fieldset>
    <legend>Add User</legend>
      <label for="username">Username</label><br>
      <input type="text" name="user[username]" id="username"><br>
      <label for="password">Password</label><br>
      <input type="password" name="user[password]" id="password"><br>
      <input type="submit" value="Login">
  </fieldset>
</form>


<form action="placeholder for edit" method="post">
  <fieldset>
    <legend>Add Minutes</legend>
      <select>
        <option>Username 1</option>
        <options>Username 2</options>
      </select>
      <label for="minutes">Minutes</label><br>
      <input type="text" name="user[minutes]" id="minutes"><br>
      <input type="submit" value="Login">
  </fieldset>
</form>

