<!DOCTYPE html>
<html>
  <body>
    <h1>Thank you for your donations!</h1>
    <table id="table1">
      <caption><strong>Contestants!</strong></caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Total</th>
        </tr>
      <tfoot>
        <tr>
          <td>Grand Total</td>
          <td>$100</td>
        </tr>
      </tfoot>
      <tbody>
        <tr>
          <td>John Smith</td>
          <td>$50</td>
        </tr>
        <tr>
          <td>John Doe</td>
          <td>$50</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>