<!DOCTYPE html>
  <head>
    <title>URLATE!</title>
    <link rel="stylesheet" media="screen" type="text/css" href="/style.css"/>
  </head>
  <body>
    <header>
      <h1>R U LATE?</h1>
      <p>The urlate app is amazing!</p>
    </header>
    <nav>
      <p><a href='/'>Home</a></p>
    </nav>
    <article id="main-content">
      <%= yield %>
    </article>
  </body>