
<form action="/session/new" method="post">
  <fieldset>
    <legend>Login</legend>
      <label for="username">Username</label><br>
      <input type="text" name="user[username]" id="username"><br>
      <label for="password">Password</label><br>
      <input type="password" name="user[password]" id="password"><br>
      <input type="submit" value="Login">
  </fieldset>
</form>