
<table id="table1">
  <caption><strong>John Smith</strong></caption>
  <thead>
    <tr>
      <th>Date</th>
      <th>Minutes-$$</th>
    </tr>
  <tfoot>
    <tr>
      <td>Grand Total</td>
      <td>$100</td>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <td>Date</td>
      <td>$50</td>
    </tr>
      <tr>
        <td>Date</td>
        <td>$50</td>
      </tr>
  </tbody>
</table>